
.vco-storyjs .vco-feature .slider, .vco-storyjs .vco-feature .vco-slider {
  background-color: var(--h5p-theme-background);
}

.vco-storyjs .vco-feature * {
    font-family: var(--h5p-theme-font-name) !important;
  
}

.vco-storyjs .vco-feature p, .vco-storyjs h2.date, #h5p-timeline .vco-slider .slider-item .content .text .container {
  color: var(--h5p-theme-text-secondary) !important;
  line-height: 24px;
}

.h5p-timeline h1, .h5p-timeline h2, .vco-storyjs h2.start, .vco-storyjs .text h3{
  color: var(--h5p-theme-text-primary) !important;
  line-height: 24px;
}

.vco-slider .nav-container .date, .vco-slider .nav-container .title {
  background-color: var(--h5p-theme-ui-base) !important;
  padding: var(--h5p-theme-spacing-xs);
}

.vco-slider .nav-next .date, .vco-slider .nav-previous .date{
  margin-bottom: 0px !important;
  margin-top: var(--h5p-theme-spacing-s);
  padding: var(--h5p-theme-spacing-s);
}



.h5p-timeline .nav-container {
  color: var(--h5p-theme-text-secondary) !important;
}
.vco-timeline .vco-navigation .timenav-background{
  background-color: var(--h5p-theme-alternative-light) !important;
}

.h5p-timeline .h5p-content-controls {
  z-index: 1000;
}

.vco-slider .nav-next .icon, .vco-slider .nav-previous .icon{
  background-image: none !important;
}
.vco-slider .nav-next .icon:after{
    font-family: 'h5p-theme';
    content: "\e901";
    display: inline-block;
}
.vco-slider .nav-previous .icon:before{
    font-family: 'h5p-theme';
    content: "\e900";
    display: inline-block;
}
.vco-timeline .vco-navigation .timenav-background .timenav-line{
  background-color: var(--h5p-theme-main-cta-base) !important;
}

/* Allow wysiwygging */
#h5p-timeline ul {
  list-style-type: square;
  margin: 1em;
  padding-left: 1em;
}
#h5p-timeline ol {
  list-style-type: decimal;
  margin: 1em;
  padding-left: 1em;
}
#storyjs-timeline.vco-skinny .vco-slider .slider-item .content .layout-text-media .text .container {
  text-align: left !important;
}
/* Background image */
#h5p-timeline .vco-slider {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#h5p-timeline .vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .credit {
  color: var(--h5p-theme-text-third);
  text-align: left;
}
#h5p-timeline .vco-slider .slider-item .content .content-container {
  padding: var(--h5p-theme-spacing-s) !important;
  /*background: color-mix(in srgb, var(--h5p-theme-ui-base), transparent 10%);*/
  background-color: var(--h5p-theme-ui-base);
  border: solid 1px var(--h5p-theme-stroke-1);
  display: block !important;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.08);
  border-radius: var(--h5p-theme-border-radius-large);
}
#h5p-timeline .vco-slider .slider-item {
  overflow-x: hidden;
}
#h5p-timeline .vco-storyjs .vco-feature p,
#h5p-timeline .vco-storyjs h2.date {
  color: #333;
}
#h5p-timeline .vco-slider .nav-previous,
#h5p-timeline .vco-slider .nav-next {
  height: auto !important;
  top: 0;
  bottom: 0;
}
#h5p-timeline .vco-slider .nav-previous:hover,
#h5p-timeline .vco-slider .nav-next:hover {
 /* background-color: rgba(255,255,255,0.7);*/
}
#h5p-timeline .vco-skinny.vco-notouch .vco-slider .nav-previous:hover,
#h5p-timeline .vco-skinny.vco-notouch .vco-slider .nav-next:hover {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  background-color: #333;
  background-color: rgba(0,0,0,0.65);
}
#h5p-timeline .media-wrapper,
#h5p-timeline .media-wrapper .media-container,
#h5p-timeline .media-wrapper .media-container .media-shadow {
  max-width: 100% !important;
  max-height: none !important;
  width: 100%;
}
#h5p-timeline .media-wrapper .media-container .media-shadow:not(.media-image) {
  width: 100%;
}
#h5p-timeline .media-wrapper .media-container .media-shadow {
  text-align: left;
}
#h5p-timeline .media-image img {
  max-width: 100% !important;
  height: auto !important;
}
#h5p-timeline .media-image {
  background: transparent !important;
}
#h5p-timeline .media-image:after,
#h5p-timeline .media-image:before {
  display: none;
}
#h5p-timeline .media-shadow .media-frame {
  width: 100% !important;
}
#h5p-timeline .vco-slider .slider-item .content .text .container {
  padding-left: 0;
  display: inline !important;
  width: auto !important;
}
#h5p-timeline .vco-slider .slider-item .content .text .container * {
  max-width: 100%;
  width: 100%;
  word-wrap: break-word;
}
#h5p-timeline .vco-timeline:not(.vco-skinny) .vco-slider .slider-item .content .content-container .text {
  display: inline-block !important;
  width: 50% !important;
  max-width: none;
  vertical-align: top;
}
#h5p-timeline .vco-timeline:not(.vco-skinny) .vco-slider .slider-item .content .content-container .text h2,
#h5p-timeline .vco-timeline:not(.vco-skinny) .vco-slider .slider-item .content .content-container .text h3 {
  width: 100% !important;
}
#h5p-timeline .vco-timeline:not(.vco-skinny) .vco-slider .slider-item .content .content-container .media {
  display: inline-block !important;
  max-width: 40%;
  min-width: inherit;
  margin-right: 20px;
  float: none !important;
}
.h5p-timeline-data-not-valid {
  padding: 1em;
  color: #eee;
  background: #555;
  font-size: 1.1em;
  margin: 2em;
  border-radius: .5em;
}
